.loader {
  width: 120px;
  height: 120px;
  background-color: transparent;
  border: 8px solid white;
  border-color: var(--lime) transparent transparent transparent;
  border-radius: 50%;
  transition: transform var(--transition);
  transform: rotate(45deg);
}
